<!DOCTYPE html><html lang="tr"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Indochine - Architecture and Interiors HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="/https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/fontawesome-5.14.0.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/css/nice-select.min.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="page-wrapper light-mode">

        <!-- Preloader -->
        <div class="preloader"><div class="custom-loader"></div></div>

        <!-- main header -->
        <header class="main-header">
            <!--Header-Upper-->
                      <div class="header-upper black-120-bg">
                <div class="container clearfix">
                    <div class="header-inner rel d-flex align-items-center">
                        <div class="logo-outer">
                            <div class="logo"><a href="/index-light.html"><img src="/images/logo.png" alt="Logo" title="Logo"></a></div>
                        </div>

                        <div class="nav-outer ms-auto clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header py-10">
                                   <div class="mobile-logo">
                                       <a href="/index-light.html">
                                            <img src="/images/logo.png" alt="Logo" title="Logo">
                                       </a>
                                   </div>
                                   
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="#">Anasayfa</a>
                                          
                                        </li>
                                        <li><a href="/about-light.html">Hakkımda</a></li>
                                        <li class="dropdown"><a href="#">Projeler</a>
                                           <!-- About Area end    <ul>
                                                <li><a href="/projects-01-light.html">Projeler 01</a></li>
                                                <li><a href="/projects-02-light.html">Projeler 02</a></li>
                                                <li><a href="/projects-03-light.html">Projeler 03</a></li>
                                                <li><a href="/projects-04-light.html">Projeler 04</a></li>
                                                <li><a href="/projects-05-light.html">Projeler 05</a></li>
                                                <li><a href="/project-details-light.html">Proje Detayları</a></li>
                                                <li><a href="/project-details-02-light.html">Proje Detayları 02</a></li>
                                            </ul>-->
                                        </li>
                                        <li><a href="/contact-light.html">İLETİŞİM</a></li>
                                    </ul>
                                </div>

                            </nav>
                            <!-- Main Menu End-->                           
                        </div>   
                        <!-- Search Button -->
                        <div class="search-btns">
                           <span class="search-icon"><i class="far fa-search"></i></span>
                        </div>                                          
                    </div>
                    <form class="search-project search-form mt-96" id="project-search" action="#">
                        <input type="search" required="" placeholder="Aramak için yazın...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <!--End Header Upper-->
            <!--End Header Upper-->
        </header>
        
        <!-- Banner Section Start -->
        <section class="banner-area text-black pt-324 pb-250" style="background-image: url(images/banner-light.png);">
            <div class="container text-center">
                <div class="row align-items-center justify-content-between">
                    <div class="banner-content wow fadeInUp delay-0-2s">
                        <h1>PROJECTS - 01</h1>
                        <div class="mt-32">
                            <ul class="breadcrumb wow fadeInUp delay-0-4s">
                                <li class="breadcrumb-item"><a href="/index-light.html">Home</a></li>
                                <li class="breadcrumb-item">projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->

        <!-- Architecture Projects Area start -->
        <section class="projects-01 py-128">
            <div class="container">
                <ul class="project-filter tab-style-one justify-content-center nav nav-pills nav-fill mb-96 wow fadeInUp delay-0-4s">
                    <li data-filter="*" class="nav-item current">
                        <a class="nav-link">ALL</a>
                    </li>
                    <li class="nav-item" data-filter=".HOUSE">
                        <a class="nav-link">HOUSE</a>
                    </li>
                    <li class="nav-item" data-filter=".VILLA">
                        <a class="nav-link">VILLA</a>
                    </li>
                    <li class="nav-item" data-filter=".RESTAURANT">
                        <a class="nav-link">RESTAURANT</a>
                    </li>
                    <li class="nav-item" data-filter=".HOTEL">
                        <a class="nav-link">HOTEL</a>
                    </li>
                </ul>
                <div class="tab-content tab-pane project-active">
                    <div class="col-lg-12 item HOUSE HOTEL">
                        <div class="row apartment-image wow fadeInLeft delay-0-1s">
                            <a href="/project-details.html"><img src="/images/1.jpg" alt="Apartment"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="sub-title mb-16">HOTEL</span>
                                <a href="/project-details.html"><h5 class="mb-32">Beautiful Modern Hotel Design 2024</h5></a>
                                <p class="mb-32">We have several strategic teaming arrangements  with experienced to complete full design services.</p>
                                <div>
                                    <a href="/project-details.html" class="hero-btn ">Read More
                                        <span class="btn-icon">
                                            <span class="circle"></span>
                                            <span class="dot"></span>
                                            <span class="line"></span>
                                            <span class="fa fa-long-arrow-right"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>                     
                    </div>
                    <div class="col-sm-6 col-lg-6 item VILLA">
                        <div class="row apartment-image wow fadeInLeft delay-0-1s">
                            <a href="/project-details.html"><img src="/images/2.jpg" alt="Apartment"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="sub-title mb-16">CREATIVE</span>
                                <a href="/project-details.html"><h5 class="mb-32">Creative House Modern Style </h5></a>
                                <p class="mb-32">We have several strategic teaming arrangements  with experienced to complete full design services.</p>
                                <div>
                                    <a href="/project-details.html" class="hero-btn ">Read More
                                        <span class="btn-icon">
                                            <span class="circle"></span>
                                            <span class="dot"></span>
                                            <span class="line"></span>
                                            <span class="fa fa-long-arrow-right"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 item RESTAURANT">
                        <div class="row apartment-image wow fadeInLeft delay-0-1s">
                            <a href="/project-details.html"><img src="/images/3.jpg" alt="Apartment"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="sub-title mb-16">HOUSE</span>
                                <a href="/project-details.html"><h5 class="mb-32">House Design Indochine Style </h5></a>
                                <p class="mb-32">We have several strategic teaming arrangements  with experienced to complete full design services.</p>
                                <div>
                                    <a href="/project-details.html" class="hero-btn ">Read More
                                        <span class="btn-icon">
                                            <span class="circle"></span>
                                            <span class="dot"></span>
                                            <span class="line"></span>
                                            <span class="fa fa-long-arrow-right"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-12 item HOTEL">
                        <div class="row apartment-image wow fadeInLeft delay-0-1s">
                            <a href="/project-details.html"><img src="/images/4.jpg" alt="Apartment"></a>
                            <div class="carousel-caption d-md-block">
                                <span class="sub-title mb-16">VILLA</span>
                                <a href="/project-details.html"><h5 class="mb-32">Villa Design Modern Style </h5></a>
                                <p class="mb-32">We have several strategic teaming arrangements  with experienced to complete full design services.</p>
                                <div>
                                    <a href="/project-details.html" class="hero-btn ">Read More
                                        <span class="btn-icon">
                                            <span class="circle"></span>
                                            <span class="dot"></span>
                                            <span class="line"></span>
                                            <span class="fa fa-long-arrow-right"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul class="pagination mt-40 flex-wrap justify-content-center wow fadeInUp delay-0-2s">
                            <li class="page-item"> <span class="page-link"> Prev </span></li>
                            <li class="page-item active">
                                <span class="page-link">
                                    1
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"> <span class="page-link"> Next </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Architecture Projects Area end -->
        
        
        <!-- footer area start -->
        <footer class="main-footer py-128 black-120-bg">
            <div class="footer-top mb-96">
                <div class="container">   
                    <div class="col-lg-10">
                        <h2>The greatest <span class="white">architecture</span> & <span class="white">interior design</span> company, <span class="white">best</span> in its industry.</h2>
                        <h2>Serving <span class="white">luxury services</span> worldwide. </h2>  
                    </div>                    
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="copyright-area col-sm-12 col-md-4 col-lg-6">
                            © Copyright INDOCHINE  2024. All rights reserved.
                        </div>
                        
                        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-3">
                            <div class="footer-bottom-text">
                                <div class="d-flex content">
                                    <div class="left">
                                        <h4 class="h4-rotate ">CONTACT</h4> 
                                    </div>
                                    <div class="right info">
                                        <p>1204 Street, Atlanta 21203 <br>United States of America</p>
                                        <p><a href="callto:+905XXXXXXXXX">+905XXXXXXXXX</a></p>
                                        <p><a href="mailto:info@indochine.com">info@indochine.com</a></p>
                                        <div class="footer-social">  
                                            <span>Socials:</span> 
                                            <a href="#"><i class="fab fa-dribbble"></i></a>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-4 col-md-3 col-lg-2">
                            <div class="footer-bottom-text">     
                                <div class="d-flex content">
                                    <div class="left">
                                        <h4 class="h4-rotate key-link">KEY LINKS</h4> 
                                    </div>
                                    <ul class="right links">
                                        <li><a class="" href="/index-light.html">Home</a></li>
                                        <li><a class="" href="/about-light.html">About</a></li>
                                        <li><a class="" href="/projects-01-light.html">Projects</a></li>
                                        <li><a class="" href="/blog-light.html">Blog</a></li>
                                        <li><a class="" href="/contact-light.html">Contact</a></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                        <div class="sm-none col-md-1 col-lg-1">
                            <div class="footer-bottom-text text-white">
                                <a class="to-top scroll-to-target content" data-target="html">
                                    <p>TO TOP</p> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->
        
        
        <!-- Scroll Top Button -->
        <button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span></button>

    </div>
    <!--End pagewrapper-->
   
    
<script is:inline src="/js/jquery-3.7.1.min.js"></script>
<script is:inline src="/js/popper.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/appear.min.js"></script>
<script is:inline src="/js/slick.min.js"></script>
<script is:inline src="/js/jquery.magnific-popup.min.js"></script>
<script is:inline src="/js/jquery.nice-select.min.js"></script>
<script is:inline src="/js/imagesloaded.pkgd.min.js"></script>
<script is:inline src="/js/isotope.pkgd.min.js"></script>
<script is:inline src="/js/wow.min.js"></script>
<script is:inline src="/js/script.js"></script>

</body></html>